<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>websocket-demo</title>

    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3">
                <textarea id="messageArea" readonly class="form-control" style="height: 66.5vh;"></textarea>
            </div>
        </div>

        <div class="col-md-6" >
            <div class="card p-3">
                <h5 class="mb-3">User Information</h5>
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" class="form-control" autocomplete="off">
                </div>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-primary" id="joinUserBtn">Register User</button>
                </div>

                <hr>

                <h5 class="mb-3">Chat Room Information</h5>
                <div class="mb-3">
                    <label for="chatRoomName" class="form-label">Room Name:</label>
                    <input type="text" id="chatRoomName" class="form-control" autocomplete="off">
                </div>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-primary" id="joinRoomBtn">Join Room</button>
                    <button class="btn btn-outline-danger" id="leaveRoomBtn">Leave Room</button>
                </div>

                <hr>

                <div class="mb-3">
                    <label for="sendMessage" class="form-label">Enter Message:</label>
                    <textarea id="sendMessage" rows="5" class="form-control"></textarea>
                </div>

                <button class="btn btn-primary" id="sendBtn">Send</button>
            </div>
        </div>
    </div>
</div>



<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>

<script>
    let webSocket;
    let username = ''

    $('#joinUserBtn').click(function () {
        username = $('#username').val();
    });

    $('#joinRoomBtn').click(function () {
        let url = 'ws://127.0.0.1:8080/websocket/';
        let chatRoomName = $('#chatRoomName').val();
        url = url + chatRoomName + '/' + username;
        webSocket = new WebSocket(url);
        webSocket.onopen = function () {
            console.log('webSocket connecting');
        }
        webSocket.onclose = function () {
            console.log('webSocket break');
            $('#messageArea').append('websocket break\n');
        }
        webSocket.onmessage = function (event) {
            $('#messageArea').append(event.data + '\n');
        }
        webSocket.onerror = function (event) {
            console.log(event)
            console.log('webSocket error');
        }
    });

    $('#leaveRoomBtn').click(function () {
        if (webSocket) {
            webSocket.close();
        }
    });

    $('#sendBtn').click(function () {
        const msg = $('#sendMessage').val();
        if (msg.trim().length === 0) {
            alert('pls enter something');
            return;
        }
        webSocket.send($('#sendMessage').val());

        $('#sendMessage').val('');
    });

</script>

</body>
</html>
